.Page2{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
}
.link2{
    text-align:right;
    border-style: solid;
   
}
#text1{
    text-decoration:line-through ;
}